body{
    background: url(../../Resources/PanelClient/generalLeftBar.png) no-repeat;
}

a{
    text-decoration: none;
    color: initial;
}

.menuItem:hover{
    color: #5a5e66;
}

#menu_Home{
    position: absolute;
    width: 58px;
    height: 26px;
    left: 453px;
    top: 45px;

    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    text-transform: capitalize;

    color: #333333;
}

#menu_About{
    position: absolute;
    width: 57px;
    height: 26px;
    left: 551px;
    top: 45px;

    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    text-transform: capitalize;

    color: #333333;
}

#menu_Collections{
    position: absolute;
    width: 106px;
    height: 26px;
    left: 648px;
    top: 45px;

    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    text-transform: capitalize;

    color: #333333;
}

#menu_Category{
    position: absolute;
    width: 89px;
    height: 26px;
    left: 794px;
    top: 45px;

    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    text-transform: capitalize;

    color: #333333;

}

#leftMenu_Feedback{

    position: absolute;
    width: 76px;
    height: 8px;
    left: 18px;
    top: 851px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

#leftMenu_Policy{

    position: absolute;
    width: 53px;
    height: 16px;
    left: 33px;
    top: 775px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

#leftMenu_Discover{

    position: absolute;
    width: 73px;
    height: 16px;
    left: 23px;
    top: 701px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

#leftMenu_contacts{

    position: absolute;
    width: 73px;
    height: 16px;
    left: 23px;
    top: 622px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

.circle:hover{
    cursor: pointer;
}

#carDiv{

    position: absolute;
    width: 65px;
    height: 65px;
    left: 1820px;
    top: 35px;

    background: url(../../Resources/PanelClient/iconCart.png) center center no-repeat, #5BBEAC;
    border-radius: 8px;

}

#carDiv:hover{
    cursor: pointer;
}

#carDivElipse{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1860px;
    top: 15px;

    background: #55A093;
    border-radius: 50%;
}

#carDivElipse p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    margin-top: 9px;
    color: white;
}

#clotheCard{
    
    position: relative;
    display: inline-block;
    width: 300px;
    height: 208.36px;


    background: #FFFFFF;
    border: 0.5px solid #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 1.5em;

}

#camisaVector{
    margin: 10% 25%;
}

#camisaVector:hover{
    cursor: pointer;
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #55A093; /* Cambia esto al color que desees */
    text-align: center;
}
  
.bottom-left {
    bottom: 10px;
    left: 10px;
    background: url(../../Resources/PanelClient/chulito.png) center center no-repeat, #55A093;
}
  
.bottom-right-one {
    bottom: 10px;
    right: 45px; /* Ajusta la distancia horizontal entre los dos círculos */
    background-color: #55a09300; /* Cambia esto al color que desees */
    border: 1px solid #333333;
}
  
.bottom-right-two {
    bottom: 10px;
    right: 10px;
    background-color: #55a09300; /* Cambia esto al color que desees */
    border: 1px solid #333333;
}
  
.top-right {
    top: 10px;
    right: 10px;
}

.bottom-right-one p{
    margin-top: 4px;
}

.bottom-right-two p{
    margin-top: 2px;
}

.top-right p{
    color: white;
    font-family: 'Inter';
    margin-top: 2.5px;
}

#allClothes {
    display: flex;
    flex-wrap: wrap; /* Hace que los elementos se envuelvan a una nueva fila */
    gap: 1.5em; /* Espacio entre los elementos (ajusta según sea necesario) */
    max-height: 100vh; /* Establece la altura máxima para el viewport */
    width: 80%;
    margin: 10% 20%;
    margin-bottom: 0;
}