body{
    background: url(../../Resources/PanelClient/generalLeftBar.png) no-repeat;
}

a{
    text-decoration: none;
    color: initial;
}

.menuItem:hover{
    color: #5a5e66;
}

#clotheCard:hover{
    cursor: pointer;
}

#leftMenu_Feedback{

    position: absolute;
    width: 76px;
    height: 8px;
    left: 18px;
    top: 851px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

#leftMenu_Policy{

    position: absolute;
    width: 53px;
    height: 16px;
    left: 33px;
    top: 775px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

#leftMenu_Discover{

    position: absolute;
    width: 73px;
    height: 16px;
    left: 23px;
    top: 701px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

#leftMenu_contacts{

    position: absolute;
    width: 73px;
    height: 16px;
    left: 23px;
    top: 622px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;

    color: #1E2C4F;

    transform: rotate(-90deg);
    
}

#clotheCard{
    
    position: relative;
    display: inline-block;
    width: 300px;
    height: 208.36px;


    background: url(../../Resources/PanelClientService/icognit.png) center center no-repeat, #5BBEAC;
    border-radius: 20px;
    margin-left: 1.5em;

}

#allClothes {
    display: flex;
    flex-wrap: wrap; /* Hace que los elementos se envuelvan a una nueva fila */
    gap: 1.5em; /* Espacio entre los elementos (ajusta según sea necesario) */
    max-height: 100vh; /* Establece la altura máxima para el viewport */
    width: 80%;
    margin: 8% 20%;
    margin-bottom: 0;
}